html, body, div, span, object, iframe,
h1, h2 , h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s,
samp, small, strike, strong, sub, sup, tt, 
var, b, u, i, center, dl, dt, dd, ol, ul, 
li, fieldset, form, label, legend, table, 
caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	border: 0;
	outline: 0;
	background: transparent;

}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
:focus {outline: 0;}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
hr, .hide {display: none;}
a img {
    border: none;
    color: rgba(255,255,255, 0.8);
}
.group:after {
	content:".";
	display:block;
	clear:both;
	visibility:hidden;
	line-height:0;
	height:0;
}

body {
	font-family: 'Open Sans', sans-serif;
	color: rgba(255,255,255, 0.8);
	background: #72a8cc;
}
a:link, a:visited {
    color: rgba(255,255,255, 0.8);
	outline: none;
	text-decoration: none;
}
a:hover {
	opacity: 0.8;
	cursor: pointer;
}
h1 {
    font-size: 1.5em;
    font-weight: 700;
}
h2 {
    font-size: 1.3em;
	margin: 3em 0 2em 0;
}
h3 {
	font-size: 1.2em;
}
h4 {
    margin: 1.1em;
}
h5 {
    margin: 1em;
}
.padding-top-bot {
    padding: 50px 0;
}
.inline-block {
    display: inline-block;
}
.center {
    text-align: center;
}
.left {
    text-align: left;
}
.container {
	margin-left: auto;
    margin-right: auto;
    width: 83.333%;
    max-width: 1000px;
}
/*********************Header section*****************************/
.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../img/Preloader.gif') center no-repeat #fff;
}
/********************************************************************/
.head button {
    display: none;
}
.head {
    width: 100%;     
    z-index: 10;
    position: absolute;
    height: 70px;
    background-color: rgba(0, 0, 0, 0);
}
.logo {
    top: 20px;
    position: absolute;
    height: 70px;
    width: 20%;
    margin-left: 8%;
}
.logo a img {
    width: 80%;
}
.menu {
    margin-left: 30%;
    line-height: 70px;
    width: 70%;
}
.header-item {
    font-weight: 700;
    display: inline-block;
    margin-left: 5%;
}
/***************************MainBlock section***********************/

.wrap span {
    color: rgba(255,255,255,0.9);
    font-size: 1.4em;
}
.buttons {
    margin-top: 50px;
}
.myButton {
    cursor: pointer;
    font-size: 1em;
    background-color: rgba(255,255,255, 0.2);
    display: inline-block;
    color: rgba(255,255,255, 0.8);
    vertical-align: top;
    font-weight: 700;
    text-decoration: none;
    padding: .5em 2em;
    border: 2px solid;
    border-radius: 3px;
    transition: 0.2s;
    width: 20%;
    height: 50px;
}

.myButton:hover {
    background-color: rgba(255,255,255, 0.8);
}
.myButton:active {
    background-color: rgba(255,255,255, 0.2);
}
.main {
    padding-top: 5em;
    display: table;
    height: 80%;
}
.head {
    width: 100%;
}
.tcell {
    vertical-align: middle;
    display: table-cell;
}
#top-sec1 {
    min-height: 668px;
    position: relative;
    max-height: 1024px;
}
/**********************Icons and whyWe sec****************************/
#whyWe {
    padding-top: 30px;
}
.main-icons {
    margin-top: 30px;
}
.icons {
    width: 10%;
    display: inline-block;
}
.icon-text {
    text-align: left;
    margin-left: 5%;
    vertical-align: top;
    display: inline-block;
    width: 80%;
}
.body-icon {
    margin: 0 0 2em 0;
    width: 50%;
    display: inline-block;
    vertical-align: top;
}
.ico_documents, .ico_car, .ico_boat, .ico_design, .ico_nike, .ico_people, .ico_search {
  display: inline-block;
  background-image: url(../img/icons/spritebox-sprite.png);
  background-repeat: no-repeat
}

.ico_documents {
  background-position: -0px -0px;
  height: 64px;
  width: 64px
}

.ico_car {
  background-position: -64px -0px;
  height: 64px;
  width: 64px
}

.ico_boat {
  background-position: -0px -64px;
  height: 64px;
  width: 64px
}

.ico_design {
  background-position: -64px -64px;
  height: 64px;
  width: 64px
}

.ico_nike {
  background-position: -128px -0px;
  height: 64px;
  width: 64px
}

.ico_people {
  background-position: -128px -64px;
  height: 64px;
  width: 64px
}

.ico_search {
  background-position: -0px -128px;
  height: 64px;
  width: 64px
}





.blok { vertical-align: top; }
.icons {
    transition: all 1s ease;
}
.body-icon:hover .icons{
    transform: rotateY(360deg);
}
/*********************Offers section*****************************/
#offers {
    padding: 50px 0 50px 0;
}
.offers-inner {
    width: 50%;
    padding-left: 25%;
}
.offers-inner h2 {
    margin: 1em 0 1em;
    border: 1px solid;
    padding: 5px;
    border-radius: 5px;
    transition: 0.2s;
}
.offers-inner h2:hover{
    background-color: rgba(255, 255, 255, 0.33);

}

/**********************footer section****************************/
#contacts h2 {
    margin-top: 0;
}
.map {
    width: 50%;
}
.cont-block {
    width: 50%;
    vertical-align: top;
    margin-bottom: 2em;
}
#contacts button {

    width: 50%;
}
.contacts-cont {
    width: 50%;
    vertical-align: top;
}
footer {
    
}
footer .header-item,footer .header-item a,footer p, footer a:visited {
    font-weight: 700;
    color: rgba(255,255,255,0.9); 
    text-shadow: 2px 2px 1px rgba(255,255,255,0.1); 
}
footer .header-item {
    opacity: 0.8;
    font-weight: 100;
} 

/****************************Call form*******************/
.overlay{
    background:transparent url(../img/overlay.png) repeat top left;
    position:fixed; /* фиксим и далее растягиваем на весь экран*/
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    z-index:100;
}
.nonebox{
    border-radius: 11px;
     position:fixed;
     top:-600px;
     left:30%;
     right:30%;
     background:#fff;
     color:#4d4d4d;
     padding:20px;
     border:5px solid #e4e4e4;
     padding:25px;
     z-index:101; 
}
a.box-close{
     float:right;
     width:26px;
     height:26px;
     background:url('../img/close.png') repeat top left;;
     margin:-30px -30px 0px 0px;
     cursor:pointer;
}
.nonebox fieldset { margin: 0 0 15px 0;}
.nonebox fieldset label { display: block; margin: 0 0 3px 0; font-weight: bold;  font-size: 0.8em;}
.nonebox fieldset input, .nonebox fieldset textarea {width: 100%; padding-bottom: 10px; }
.nonebox fieldset textarea {width: 100%; padding-bottom: 1.2em;} 
.nonebox fieldset input:focus, .nonebox fieldset textarea:focus{border:.15em solid #015778;
    -webkit-box-shadow:0 0 1em .1em rgba(2,70,232,0.25);-moz-box-shadow:0 0 1em .1em rgba(2,70,232,0.25);box-shadow:0 0 1em .1em rgba(2,70,232,0.25);}
.nonebox fieldset textarea:focus{border:.15em solid #015778;}
#SendFormButton {
    background-color: gray;
    padding: 0;
    width: 40%;
    margin-left: 30%;
}

/********************************************************/
.head-fixed {
    display: none;
    background-color: #2b3438; 
    position: fixed; 
    top: 0px;
}
.head-fixed .logo {
    top: 0;
}
.head-fixed .logo a img {
    height: 100%;
}
.logo a img {

    width: 70%;
}
/***************************Suggest-section******************************/
#sug {
    padding-top: 50px;
}
.suggest ul {
    list-style-type: square;
}
.suggest ul ul {
    list-style-type: square;
    margin-left: 2em;
    margin-bottom: 0em;
}
.white {
    background-color: white;
    color: #72a8cc;
}
.blue {
    background-color: #72a8cc;
}
.suggest ul li {
    padding-bottom: 2em;
    vertical-align: top;
    list-style-type: square;
}
.suggest-body-icon {
    margin: 0 0 2em 0;
    width: 50%;
    display: inline-block;
    vertical-align: top;
}
.suggest-body-icon:hover .icons{
    transform: scale(1.2);

}
.suggest-body-icon:hover {
    cursor: pointer;
}
.suggest-tog1, .suggest-tog2 {
    text-align: left;
    width: 100%;
}

