html, body, div, span, object, iframe,
h1, h2 , h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s,
samp, small, strike, strong, sub, sup, tt, 
var, b, u, i, center, dl, dt, dd, ol, ul, 
li, fieldset, form, label, legend, table, 
caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	border: 0;
	outline: 0;
	background: transparent;

}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
:focus {outline: 0;}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
hr, .hide {display: none;}
a img {
    border: none;
    color: rgba(255,255,255, 0.8);
}
.group:after {
	content:".";
	display:block;
	clear:both;
	visibility:hidden;
	line-height:0;
	height:0;
}

body {
	font-family: 'Open Sans', sans-serif;
	color: rgba(255,255,255, 0.8);
	background: #72a8cc;
}
a:link, a:visited {
    color: rgba(255,255,255, 0.8);
	outline: none;
	text-decoration: none;
}
a:hover {
	opacity: 0.8;
	cursor: pointer;
}
h1 {
    font-size: 1.5em;
    font-weight: 700;
}
h2 {
	margin: 3em 0 2em 0;
}
h3 {
	font-size: 1.2em;
}
p {
	margin-bottom: 1em;
}
.inline-block {
    display: inline-block;
}
.container {
	margin-left: auto;
    margin-right: auto;
    width: 83.333%;
    max-width: 1000px;
}
header {
    z-index: 10;
    position: absolute;
    height: 70px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
}
header .logo {
    position: absolute;
    height: 70px;
    width: 20%;
    margin-left: 8%;
}

header .menu {
    margin-left: 30%;
    line-height: 70px;
    display: inline-block;
    width: 70%;
}
.header-item {
    font-weight: 700;
    display: inline-block;
    margin-left: 5%;
}


.main {
    padding-top: 5em;
    display: table;
    height: 80%;
}
.tcell {
    vertical-align: middle;
    display: table-cell;
}
#top-sec {
    min-height: 668px;
    position: relative;
    max-height: 1024px;
}
.wrap {
    text-align: center;
}
.wrap span {
    color: rgba(255,255,255,0.9);
    font-size: 1.4em;
}
.buttons {
    margin-top: 50px;
}
.myButton {
    font-size: 1em;
    background-color: rgba(255,255,255, 0.2);
    display: inline-block;
    color: rgba(255,255,255, 0.8);
    vertical-align: top;
    font-weight: 700;
    text-decoration: none;
    padding: .5em 2em;
    border: 2px solid;
    border-radius: 3px;
    transition: 0.2s;
    width: 20%;
    height: 50px;
}

.myButton:hover {
    background-color: rgba(255,255,255, 0.8);
}
.myButton:active {
    background-color: rgba(255,255,255, 0.2);
}


.main-icons {
    margin-top: 30px;
}
.icons {
    width: 10%;
    display: inline-block;
}
.icon-text {
    text-align: left;
    margin-left: 5%;
    vertical-align: top;
    display: inline-block;
    width: 80%;
}
.body-icon {
    margin: 0 0 2em 0;
    width: 50%;
    display: inline-block;
    vertical-align: top;
}
.ico_car, .ico_design, .ico_documents, .ico_people, .ico_search, .ico_boat {
  display: inline-block;
  background-image: url(../img/icons/spritebox-sprite.png);
  background-repeat: no-repeat
}

.ico_car {
  background-position: -0px -0px;
  height: 64px;
  width: 64px
}

.ico_design {
  background-position: -64px -0px;
  height: 64px;
  width: 64px
}

.ico_documents {
  background-position: -0px -64px;
  height: 64px;
  width: 64px
}

.ico_people {
  background-position: -64px -64px;
  height: 64px;
  width: 64px
}

.ico_search {
  background-position: -128px -0px;
  height: 64px;
  width: 64px
}

.ico_boat {
  background-position: -128px -64px;
  height: 64px;
  width: 64px
}


#offers {
    background-color: white;
    padding: 50px 0 50px 0;
}
.offers-req {
    height: 150px;
    vertical-align: top;
    width: 25%;
    margin-left: 5%;
    background-color: black;
    display: inline-block;
}
.offers-req a {
    display: block;
}
.offers-req a img {
    max-width: 100%;
    opacity: 0.2;
}
.offers-req a img:hover {
    opacity: 0.6;
    color: white;
}
.offers-text {
    color: rgba(255,255,255,1);
    margin: 1.6em 0 1em 2em;
    position: absolute;
    font-weight: 700;
    font-size: 2em;
    border-bottom: 4px solid #72a8cc;
    
}
