.myButton {
    width: 40%;
    padding: 0;
}
.head .myButton {
    display: block;
    position: fixed;
    top: 0px;
    width: 54px;
    height: 48px;
    background: url(../img/icons/menu-alt.png);
    background-repeat: no-repeat;
    background-size: 48px 48px;
    padding: 0em;
    border: 0;
    cursor: pointer;
    z-index: 10;
}
.logo {
    right: 0px;
    width: 100%;
}
.logo img {
    margin-left: 14%;
    width: 80%;
}
#top-sec h1 {
    display: none;
}
.main {
    padding-top: 10em;
}
.menu .header-item {
    display: block;
    margin-left: 0px;
}
.head-fixed {
    display: none;
}
.menu {
    display: none;
    background-color: rgba(46, 46, 46, 0.96);
    text-align: center;
    position: fixed;
    margin-left: 0;
    width: 100%;
    line-height: 100px;
}
.menu ul {
    font-size: 1.2em;
}
.nonebox {
    left: 10%;
    right: 10%;
}
.offers-text {
    font-size: 1em;
}
.map {
    display: block;
    width: 100%;
}
.contacts-cont {
    width: 100%;
    vertical-align: top;
}
.offers-req {
    width: 100%;
    font-size: 1.7em;
}
.icon-text {
    text-align: center;
}
.suggest-body-icon:hover .icons{
    transform: none;
}
.body-icon:hover .icons{
    transform: none;
}
.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../img/Preloader.gif') center no-repeat #fff;
}